{% extends 'product/Base.html' %}
{% load static %}

{%block containt%}
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li><a href="{%url 'Home'%}">All</a></li>
                            {% for i in category %}
                                <li><a href="{%url 'featured cat' i.slug%}">{{i}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for i in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="{{i.front_image.url}}">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="{%url 'wishlist' i.slug%}"><i class="fa fa-heart"></i></a></li>
                                    {% if i.stock > 0 %}
                                        <li><a href="{%url 'order' i.slug%}"><i class="fas fa-shopping-bag"></i></a></li>
                                    {% else %}
                                        <li><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                                    {% endif %}
                                    <li><a href="{%url 'add_cart' i.slug%}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="{%url 'Product Details' i.slug%}">{{i.name}}</a></h6>
                                <h5>${{i.unite_price}}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="product__pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <strong>{{i}}</strong>
                        {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                            <a href="?page={{i}}">{{i}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
    <!-- Featured Section End -->
{% endblock %}